{% extends '/front/base.html.twig' %}

{% block title %}
    Acheter : {{ listing.model.name }}
{% endblock %}

{% block body %}

    <div class="mt-5">
        <div class="container-top row">
            <div class="col-7 p-0 h-100">
                <div class="container-image-listing-show">
                    <img src="{{ listing.image }}">
                </div>
            </div>
            <div class="col-1">
            </div>
            <div class="col-4 my-auto">
                <div class="h-100">
                    <h1 class="text-center mb-4">{{ listing.model.name }}</h1>
                    <p class="my-4 fs-2 text-center">{{ listing.price/100 }}€</p>
                    <p class="my-4 fs-2 text-center">{{ listing.mileage }} km</p>
                    <p class="my-4 fs-2 text-center">année: {{ listing.producedYear }}</p>
                    <div class="w-100 mt-4">
                        <button class="button-fire fs-3">
                            Acheter
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-5">
            <div class="row">
                <div class="col-7">
                    <h2>A propos du véhicule</h2>
                    <p>{{ listing.description|raw }}</p>
                </div>
                <div class="col-1">
                </div>
                <div class="col-4">
                    <p>Date de publication : {{ listing.createdAt|date('d/m/Y') }}</p>
                </div>
            </div>
        </div>


    </div>

{% endblock %}